:root {

  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadow-insert: rgba(255, 255, 255, 0.4);

  --hover-effect-boxshadow: rgba(0, 255, 120, 0.3);
  --hover-effect-color: white;
  --hover-effect-textshadow: rgba(255, 255, 255, 0.8);
  /* Navbar */
  --nav-text-color: #1f3d1f;
  --nav-text-color2: #129512;
  --nav-linear-gradient: linear-gradient(
    135deg,
    rgba(184, 253, 128, 0.24),
    rgba(62, 198, 25, 0.25)
  );
  --nav-line-gradient: linear-gradient(to right, #71d839, #065d29);
  --nav-border-color: rgba(255, 255, 255, 0.3);
  --nav-box-shadow-color: rgba(0, 100, 0, 0.15);
  --nav-insert-box-shadow-color: rgba(255, 255, 255, 0.2);

  --nav-hover-box-shadow-color: rgba(0, 120, 0, 0.25);
  --nav-hover-insert-box-shadow-color: rgba(255, 255, 255, 0.3);
  

  /* Home */
  --home-linear-gradient: radial-gradient(
    circle at 30% 40%,
    #ceffadd8,
    #8fcb86f4 90%
  );

  --home-text-color: #1b4332;
  --home-text2-color: #2d6a4f;
  --home-multiple-text-gradient: linear-gradient(90deg, #1f3d1f, #2f6b2f);
  --home-logoimg-boxshadow: #4ffc66;

  --liquid-glass-background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.05)
    );
  --liquid-glass-border: rgba(255, 255, 255, 0.3);

  /* About */

  --about-text-color: #1b4332;
  --about-text2-color: #2d6a4f;
  --about-background-color: radial-gradient(
    circle at 30% 40%,
    #ceffadd8,
    #8fcb86f4 90%
  );

--about-pulse-boxshadow1: #1ED760;
--about-pulse-boxshadow2: rgba(36, 219, 70, 0.7);
--about-magic-cir-color: rgba(5, 152, 56, 0.55);

  --about-toggle-color: #1b4332;

  --about-toggle-hover-color: #1ED760;
--about-active-color: #1ED760;
--about-toggle-textshadow-color: rgba(30, 215, 96, 0.7);
--about-toggle-span-color: #1ED760;

  /* Projecrt */
  --project-linear-gradient: radial-gradient(
    circle at 30% 40%,
    #ceffadd8,
    #8fcb86f4 90%
  );

  /* Skill */
    --about-text-color: #1b4332;
  --about-text2-color: #2d6a4f;
  --about-background-color: radial-gradient(
    circle at 30% 40%,
    #ceffadd8,
    #8fcb86f4 90%
  );

  transition: 0.2s ease;
}

body.black {
  transition: 0.2s ease;
  --linear-gradientL: linear-gradient(135deg, #0f2a17, #1e3b21);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
