@media screen and (max-width: 1677px) {
  .about {
    padding: 120px 10%;
    background: var(--about-background-color);
    position: relative;
  }

  .class-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  /* LEFT */
  .class-sec1-about {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  /* RIGHT */
  .class-sec2-about {
    flex: 1;
    max-width: 600px;
  }

  /* IMAGE */
  .mage-frame {
    position: relative;
    width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .class-sec2-about h1 {
    font-size: 48px;
    color: var(--about-text-color);

    margin-bottom: 25px;
  }

  .class-sec2-about p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--about-text2-color);
  }

  .mage-frame img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
    animation: pulseGlow 3s ease-in-out infinite;
    transition: 0.3s ease;
  }

  @keyframes pulseGlow {
    0% {
      box-shadow: 0 0 20px var(--about-pulse-boxshadow1);
    }
    50% {
      box-shadow: 0 0 60px var(--about-pulse-boxshadow2);
    }
    100% {
      box-shadow: 0 0 20px var(--about-pulse-boxshadow1);
    }
  }

  .magic-circle {
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 2px dashed var(--about-magic-cir-color);
    animation: rotateMagic 20s linear infinite;
    transition: 0.3s ease;
  }

  .mage-frame:hover img {
    transform: scale(1.05);
    transition: 0.3s ease;
  }

  .mage-frame:hover .magic-circle {
    animation-duration: 2s;
  }

  .mage-frame {
    animation: float 6s ease-in-out infinite;
  }

  .lang-toggle {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  .lang-toggle button {
    background: none;
    border: none;
    color: var(--about-toggle-color);
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
  }

  .lang-toggle button:hover {
    color: var(--about-toggle-hover-color);
    transform: scale(1.1);
    transition: 0.3s ease;
  }

  .lang-toggle button.active {
    color: var(--about-toggle-active-color);
    text-shadow: 0 0 8px var(--about-toggle-textshadow-color);
  }

  .lang-toggle span {
    color: var(--about-toggle-span-color);
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes rotateMagic {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes mist {
    from {
      transform: translateY(0px) rotate(0deg);
    }
    to {
      transform: translateY(40px) rotate(20deg);
    }
  }
}
